# Data Manipulation with Pandas

In [2]:
import pandas as pd

In [10]:
pokemon = pd.read_csv("C:\\Users\\sawcon\\_datacamp\\datasets\\pokemon-data.csv", usecols=['Name', 'Type 1', 'HP', 'Attack', 'Defense', 'Legendary'])
pokemon.head()

                    Name Type 1  HP  Attack  Defense  Legendary
0              Bulbasaur  Grass  45      49       49      False
1                Ivysaur  Grass  60      62       63      False
2               Venusaur  Grass  80      82       83      False
3  VenusaurMega Venusaur  Grass  80     100      123      False
4             Charmander   Fire  39      52       43      False

## Dataframes
## Aggregating Dataframes
## Slicing and Indexing Dataframes
## Creating and Visualizing Dataframes

# Joining Data with Pandas

## Data Merging
## Merging with Different Types
## Advanced Merging and Concatinating
## Merging Ordered and Time-Series Data

In [3]:
def animal_crackers(text):
    text_list = text.split(' ')
    if text_list[0][0] == text_list[1][0]:
        return True
    else:
        return False