In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data = pd.read_csv('organizations-1000.csv')
data1 = pd.read_csv('organizations-1000.csv')

## DataFrames

These methods are ways to get information from a DataFrame before analysis.

In [12]:
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                1000 non-null   int64
 1   Organization Id      1000 non-null   object
 2   Name                 1000 non-null   object
 3   Website              1000 non-null   object
 4   Country              1000 non-null   object
 5   Description          1000 non-null   object
 6   Founded              1000 non-null   int64
 7   Industry             1000 non-null   object
 8   Number of employees  1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

             Index      Founded  Number of employees
count  1000.000000  1000.000000          1000.000000
mean    500.500000  1995.852000          4964.996000
std     288.819436    15.096026          2812.789035
min       1.000000  1970.000000             1.000000
25%     250.750000  1983.000000          2612.000000
50%     500.500000  1996.000000          4941.000000
75%     750.250000  2009.000000          7348.250000
max    1000.000000  2022.000000          9952.000000

These on the other hand are attributes which does the same as before but more indepth.

In [ ]:
data.shape
data.values
data.columns
data.index

In [ ]:
# SORTING
data.sort_values('breed', ascending=False)

# SUBSETTING COLUMNS
data[['breed', 'weight']]

# SUBSETTING ROWS
data[data['breed' == 'chuhuahua']]
data[data['breed'].isin(['German Shepherd', 'Golden Retriever'])]

data['month'] = data['date'].dt.month # gets the year/month/day of a date

# AGGREGATING
data[['breed', 'weight']].agg([np.mean, np.median])
data[['breed']].agg({"Weight": "Mean"})

# COUNTING
data.drop_duplicates(subset='name')
data.value_counts(sort=True)
data.value_counts(normalize=True)
data.groupby(['color', 'breed'])['weight'].count()

# GROUPING
data.groupby('color')['weight'].mean()
data.groupby(['color', 'breed'])['weight'].mean()

# INDEX
data.set_index('city')
data.drop_index()
data.drop_index(drop=True)

# SLICING AND INDEXING
# data.loc[ROWS:ROWS, COLUMNS:COLUMNS]
data.loc['labrador':'poodle']
data.loc['labrador':'poodle', 'name': 'height']

data.loc['2020-05-23':'2021-01-30']
data.loc['2020':'2021']

data.iloc[2:3]
data.iloc[:, 2:4]

# VISUALIZING
data['breed'].hist()
data.plot(x='size', y='price', kind='bar')
data.plot(x='size', y='price', kind='barh')
data.plot(x='size', y='price', kind='line')
data.plot(x='size', y='price', kind='scatter', title='Sample Title')
plt.legend(['table1', 'table1'])
plt.show()

# MISSING VALUES
data.isna().any() # any returns a true or false statement whether the value is null or not
data.isna().sum() # counts number of null values

data.dropna()
data.fillna(0)

# CSV
pd.read_csv('file.csv')
data.to_csv('data_new.csv')

In [ ]:
# DATA MERGING
data.merge(data1, on='id', how='left', suffixes=['_data1, _data2'])

data.merge(data, on='id', how='left') \
    .merge(data1, on='id', suffixes=['_data1, _data2'])

# JOINS
data_tracks = data.merge(data, on='gid')
semi_join = data[data['gid'].isin(data_tracks['gid'])]

data_tracks1 = data.merge(data, on='gid', how='left', indicator=True)
id_list = data_tracks1.loc[data_tracks['_merge'] == 'left_only', 'srid']
data[data['srid'].isin(id_list)]

# CONCAT
pd.concat([data, data1], sort=True, ignore_index=True) 
pd.concat([data, data1], sort=True, join='inner', key=['data', 'data1'])

pd.append([data, data1], sort=True)

# INTEGRITY
data.merge(data1, validate='one_to_one')
pd.concat(verify_integrity=True)

# ORDERED MERGE
pd.merge_ordered(data, data1, fill_method='ffill')

pd.merge_asof(data, data1, direction='forward')

# QUERY
data.query('nike >= 90 and disney < 45')

# RESHAPING DATA
## FROM WIDE TO TALL
data.melt(id_vars=['financial', 'company'], value_vars=['2018', '2019'], var_name='rename', value_name='newName')

# PIVOT TABLES
## FROM TALL TO WIDE
data.pivot_table(values='weight', index='color', columns='breed', fill_value=0)
data.pivot_table(values='weight', index='color', columns='breed', fill_value=0, margins=True)